<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="com.guru99">

  <test name="userlogin">
<parameter name = "browser" value="chrome"/>
<classes>
<class name = "com.guru99.testcases.screenshotTest"/>
<class name = "com.guru99.testcases.loginTest_001"/>
</classes>
  </test>
</suite>		